<div class="grid gap-4" data-controller="generator-command">
  <div class="flex items-center">
    <%= generator_logo(@generator) %>
    <h2 class="font-bold text-3xl">Install <%= generator_title(@generator) %></h2>
  </div>

  <div role="alert" class="alert">
    <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="stroke-info h-6 w-6 shrink-0">
      <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>

    <p>Don't forget to install the <span class="font-semibold">zen</span> gem first with <code class="text-secondary">gem install zcr-zen</code></p>

    <!--TODO: implement the functionality of Don't show again so that users are not shown this whole alert container for installing the zen gem-->
    <!--<div>
      <button class="btn btn-sm">Don't Show Again</button>
    </div>-->
  </div>

  <div data-controller="clipboard" class="mockup-code pb-0">
    <label class="swap absolute top-4 right-4">
      <!-- this hidden checkbox controls the state -->
      <input type="checkbox" class="hidden" data-action="click->clipboard#copy" data-clipboard-target="checkbox" />

      <%= heroicon "clipboard", options: { class: "swap-off" } %>
      <%= heroicon "check", options: { class: "swap-on text-success" } %>
    </label>

    <div class="generator-command max-h-16 overflow-y-auto">
      <div class="pb-6">
        <pre class="whitespace-pre-wrap break-all mx-6 p-0 before:mr-0"><code data-clipboard-target="source">zen add <%= @generator.invocation_command %><%= safe_join(configuration_options(@generator.configurations)) %></code></pre>
      </div>
    </div>
  </div>

  <div class="grid gap-4 md:gap-8 md:grid-cols-2">
    <% @generator.configurations.each do |configuration|%>
      <% if configuration.boolean_field? %>
        <%= render "configurations/fieldables/boolean_field", field: configuration.fieldable, configuration: configuration %>
      <% else %>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text"><%= configuration_title(configuration) %></span>

            <% if configuration.description.present? %>
              <div class="tooltip tooltip-left" data-tip="<%= configuration.description %>">
                <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="stroke-neutral-content h-6 w-6 shrink-0">
                  <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
              </div>
            <% end %>
          </div>

          <%= render "configurations/fieldables/#{configuration.fieldable_name}", field: configuration.fieldable, configuration_key: configuration.configuration_key %>
        </label>
      <% end %>
    <% end %>
  </div>
</div>
